@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;     
  /* border: 1px solid greenyellow; */

}

body{
  background-color: #ffffff;
  color:#2B2B2B;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
   
/* Track */
::-webkit-scrollbar-track {
  background: #2B2B2B;

}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  }
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #F1F1F1;
  }

  